@page
@model ReportSys.Pages.PageAccess0.IndexModel
@{
}
<h2>доступ 0</h2>
<form method="post">
    <div>
        <label for="startDate">Start Date:</label>
        <input type="date" id="startDate" name="startDate" />
    </div>
    <div>
        <label for="endDate">End Date:</label>
        <input type="date" id="endDate" name="endDate" />
    </div>
    <button type="submit">Generate Report</button>
</form>