@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2>Загрузка данных</h2>


@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Upload" class="control-label"></label>
        <input asp-for="Upload" type="file" class="form-control" />
        <span asp-validation-for="Upload" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Загрузить</button>
</form>
