@page
@model ReportSys.Pages.EntryAccess.IndexModel
@{
}

<h2>Введите табельный номер</h2>

<form method="post">
    <div class="form-group">
        <label for="EmployeeNumber">Табельный номер</label>
        <input type="text" class="form-control" id="EmployeeNumber" name="EmployeeNumber" value="@Model.EmployeeNumber" />
    </div>
    <button type="submit" class="btn btn-primary">Отправить</button>
</form>

@if (!ModelState.IsValid)
{
    <div class="alert alert-danger mt-3">
        @foreach (var error in ModelState.Values.SelectMany(v => v.Errors))
        {
            <p>@error.ErrorMessage</p>
            break;
        }
    </div>
}
